/* Tag selectors */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #282626;
}

a {
  text-decoration: none;
  color: #282626;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f8f9fa;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

footer {
  width: 100%;
  background: transparent;
  text-align: center;
  color: white !important;
  position: relative;
  bottom: -55vh;
}

h3 {
  text-align: center;
  margin-top: 10%;
}

header {
  text-align: center;
}

li {
  list-style-type: none;
  font-size: 2em;
}

p b {
  font-size: 2.5em;
}

section {
  background-color: transparent;
}

/* Id selectors */

#contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact a:hover {
  cursor: pointer;
}

#contact div {
  text-align: center;
}

#contact h3, #contact p, #contact a {
  color: white !important;
  margin: 1%;
}

#landing-icon {
  width: 10em;
}

#landing-page {
  position: relative;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10%;
}

/* class selectors */

.background1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../Images/background1.jpg");
  background-size: cover;
  background-position: 50% 0px;
}

.contact2 {
  transition: all 0.3s;
}

.contact2:hover {
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-background {
  margin-top: 2vh;
  width: 100%;
  height: 100vh;
  background: url("../Images/contact.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 25% 0%;
  border: 0px solid black;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transition: all 0.3s;
  overflow: hidden;
  padding: 25vh;
}

.date-project {
  font-size: 0.7em;
}

.lobster {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 2em;
}

.lobster-title {
  display: inline;
  font-family: 'Lobster', cursive;
  font-size: 3.5em;
  color: #282626;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.main-paragraph {

}

.main-paragraph-part1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 100vh;
}

.main-paragraph-part2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80vh;
  margin-bottom: 20vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.main-paragraph-part2 p:nth-child(1) {
  position: relative;
  top: -187vh;
  margin-right: 25%;
  width: 50%;
}

.main-paragraph-part2 p:nth-child(2) {
  position: relative;
  top: -18vh;
  width: 50%;
  margin-left: 25%;
  padding-top: 20vh;
}

.navbar{
	position: fixed;
  top: 0;
  right: 0;
  left: 0;
	background-color: #B1B1AF;
  display: inline;
  z-index: 1;
  /* background-color: transparent; */
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar ul li {
  margin-top: 2vh;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  padding-bottom: calc(2vh - 2px);
  width: 10%;
  height: 4rem;
}

.navbar ul li a {
  color: black;
}

.note {
  width: 1em;
}

.picture img {
  max-width: 30rem;
}

.project {
  width: 30rem;
  margin: 2rem;
  display: inline-block;
  background: white;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transition: all 0.3s;
  overflow: hidden;
}

.project:hover {
  box-shadow: 14px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project span {
  text-transform: uppercase;
  display: block;
}

.project span:nth-child(2) {
  padding-top: 0.8rem;
}

.project span:nth-child(3) {
  padding-bottom: 0.8rem;
}
